__pycache__
setting.py
Pildoras_Django/Proyecto1/Proyecto1/settings.py
Pildoras_Django/Proyecto1/Proyecto1/settings.py
Pildoras_Django/Proyecto1/Proyecto1/security_key.py
Pildoras_Django/Online_Store/Online_Store/secret_key.py
