<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} 

        {% endblock %}
    </title>
    <style>
        .h1-padre {
            text-align: center;
            color: aliceblue;
            background-color: rgb(148, 212, 36);
        }

        .p-padre {
            text-align: center;
            color: aliceblue;
            background-color: rgb(255, 238, 6);
        }
    </style>
</head>
<body>
    
    {% include "top_navbar/navbar.html" %}

    <h1 class="h1-padre">Título de la página</h1>

    <h2>Estos titulos van a ser comunes a todas las páginas!</h2>

    <h2>Viendo herencia de plantillas</h2>

    {% block content %} 
    
    <!-- Lo que esté entre estas etiquetas va a ser el contenido cambiante -->

    {% endblock %}

    <p class="p-padre">Otro párrafo que estaría presente en todas las demas páginas</p>

    {% include "footer/footer.html" %}

</body>
</html>