<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primera plantilla</title>
    <style>
        h1 {
            font-style: italic;
            color: rgb(123, 199, 36);
        }

        p {
            font-style: italic;
        }

        ul {
            list-style: disc;
        }
    </style>
</head>
<body>

    {% include "top_navbar/navbar.html" %}

    <h1>First template with Django!</h1>

    {# This is a comment #}

    {% comment %}
        This is a multiline comment!
    {% endcomment %}

        {% if name == 'Sebastian' %}

            <p>The course is managed by the main teacher</p>

        {% else %}

            <p>The course is managed by the substitute teacher</p>

        {% endif %}

    <p>The professor's name is {{name}}</p>
    <p>His last name is {{last_name.upper}}</p>
    <p>I'm watching this course on {{date_now}}</p>
    <!-- To select the index on a list with django templates we use the dot nomenclature -->
    <p><strong>Course subjects:</strong></p>
    <!-- <p>{{subjects.1}}</p> -->
    <p>
        <ul>   
            {% comment %}
                https://docs.djangoproject.com/en/4.1/ref/templates/builtins/ Documentacion sobre condicionales, bucles, filtros, etc!
            {% endcomment %}

            {% if subjects %}     
                {% for subject in subjects %}

                    <li>{{subject}}</li>

                {% endfor %}   
            {% else %}

                <p>There's no course subjects at this moment!</p>

            {% endif %}
        </ul>

    </p>

</body>
</html>